<form action="/category/" method="POST"  data-list="#expense-form" class="ajax-form" id="category_form" style="display: none">
  <div class="modal-content row">
    <h4>Add Category</h4>
    {% csrf_token %}
    {{ category_form.as_p }}
  </div>
  <div class="modal-footer">
    <button href="#!" type="submit" class="btn modal-action waves-effect waves-green">Add</button>
    <a class="btn-flat waves-effect" onclick="show_expense_form()">Add Expense</a>
    <a href="javascript:void();" class="btn-flat modal-action modal-close waves-effect">Cancel</a>
  </div>
</form>
