{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col s12">
    <ul data-collapsible="accordion" class="collapsible popout" id="expense-list">
      {% for expense in expenses %}
      <li>
        <div class="collapsible-header">
          <div class="row" style="padding: 0 !important; margin: 0 !important;">
            <div class="col s2">
              <span>{{ expense.created|date:"d M" }}</span>
            </div>
            <div class="col s6">
              <strong>{{ expense.name }}</strong>
            </div>
            <div class="col s2">
              <span>{{ expense.category }}</span>
            </div>
            <div class="col s2">
              <span>{{ expense.amount }}</span>
            </div>
          </div>
        </div>
        <div class="collapsible-body">
          <div class="center-align">
            <h4>{{ expense.name }}</h4>
            <span>{{ expense.amount }}</span>
            <span class="center-align">
              <!-- <a href="{% url 'edit_expense' pk=expense.pk %}" class="waves-effect waves-teal btn-flat" onclick="Materialize.toast('{{ expense.name }}Edited', 4000)">Edit</a> -->
              <a href="{% url 'delete_expense' pk=expense.pk %}" class="waves-effect waves-teal btn-flat ajax-delete">Delete</a>
            </span>
            {{ expense.description|safe }}
          </div>
        </div>
      </li>
      {% empty %}
      <span>No expenses added yet.</span>
      {% endfor %}
    </ul>
  </div>
</div>

{% include 'financioly/expense_form.html' %}

  <!-- <ul>
      <li><strong></strong>: {{ expense.amount }} added on {{ expense.created|time:"H:i" }}, {{ expense.created|date:"D, d M" }}</li>
      <li>No expenses yet</li>
  </ul> -->
{% endblock %}
