
<style media="screen">
  select {
    display: block !important;
  }
</style>
<div class="modal modal-fixed-footer" id="addExpense">
  <form action="/new/" method="POST" id="#expense-form"  data-list="#expense-list" class="ajax-form" style="">
    <div class="modal-content row">
      <h4>Add Expense</h4>
      {% csrf_token %}
      {% for field in expense_form %}
        <div class="input-field col s12 m12">
          {{ field.errors }}
          {{ field }}
          {{ field.label_tag }}
          {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="modal-footer">
      <button href="#!" type="submit" class="btn modal-action waves-effect waves-green">Add</button>
      <a class="btn-flat waves-effect" onclick="show_category_form()">Add Category</a>
      <a href="" class="btn-flat modal-action modal-close waves-effect">Cancel</a>
    </div>
  </form>
  {% include 'financioly/category_form.html' %}
</div>
