{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Contacts</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/styles/app.css' %}">
  </head>
  <body><svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-contactio-logo" viewBox="0 0 1024 1024">
	<title>contactio-logo</title>
	<path class="path1" d="M682 554q56 0 122 16t122 52 56 82v106h-256v-106q0-88-84-148 14-2 40-2zM342 554q56 0 122 16t121 52 55 82v106h-598v-106q0-46 56-82t122-52 122-16zM342 470q-52 0-90-38t-38-90 38-90 90-38 89 38 37 90-37 90-89 38zM682 470q-52 0-90-38t-38-90 38-90 90-38 90 38 38 90-38 90-90 38z"></path>
</symbol>
<symbol id="icon-person" viewBox="0 0 1024 1024">
  <title>person</title>
  <path class="path1" d="M512 598q108 0 225 47t117 123v86h-684v-86q0-76 117-123t225-47zM512 512q-70 0-120-50t-50-120 50-121 120-51 120 51 50 121-50 120-120 50z"></path>
</symbol>
</defs>
</svg>

    <!--[if lt IE 8]>
    <p class="browsehappy">
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience.
    </p><![endif]-->
    <nav>
      <div class="nav-wrapper"><a href="/" class="brand-logo center">
          <svg class="icon icon-contactio-logo">
            <use xlink:href="#icon-contactio-logo"></use>
          </svg></a>
          {% if user.is_authenticated %}
            <a href="{ url 'logout_user' }" class="right mr1em">Welcome {{ user.username|capfirst }}, Signout</a>
            {% else %}
              <!-- <a href="{ url 'login_user' }" class="right mr1em">Login</a> -->
          {% endif %}
      </div>
    </nav>
    <div class="container">
      {% if user.is_authenticated %}
        <div style="bottom: 45px; right: 24px;" class="fixed-action-btn"><a href="#addExpense" title="Add contact" class="btn-floating btn-large red modal-trigger"><i class="large material-icons">add</i></a></div>
      {% endif %}

      {% block content %}{% endblock %}


    </div>
    <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
    <script src="{% static 'assets/js/jquery-2.1.1.min.js' %}"></script>
    <!-- Concatenate &amp; Uglify the following files -->
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/ajax.js' %}"></script>
    <script>
      $(document).ready(function(){
        $('.modal-trigger').leanModal();
        $('.collapsible').collapsible();
      });
    </script>
    {% block extrascripts %}{% endblock %}
  </body>
</html>
